body{
    background: url("./environmental-sustainability.webp") no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}

#container{
    background: rgb(128, 226, 166);
    margin: 150px auto;
    overflow: hidden;
    width:560px;
}
a{
    background-color: rgb(248, 244, 244);
    text-decoration: none;
}

#nav{
background: red;
height:40px;
padding-top: 10px;
padding-left: 10px;
}

#nav li{
    list-style: none;
    float: left;
    padding-right: 20px;
}

#sidebar{
    float: right;
    width:45%;
    text-align: justify;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 20px;
    background: goldenrod;
}

#main{
    float: left;
    width:50%;
    text-align: justify;
}

#main p{
    padding:20px;
}
.clr{
    clear: both;
}

#footer{
background: goldenrod;
margin-left: 300px;
text-align: center;
}
.formfill{
    background-image: linear-gradient( to right ,blue,white,blue);
    margin: 245px auto;
    opacity:0.7;
    width: 50%;
    text-align: center;
}

.formfill:hover{
opacity:1;
}